# Properties
src/main/java/resources/

# Directorio de compilación de Maven
target/

# Archivos generados por IDEs
.idea/
.vscode/
*.iml

# Archivos de configuración de Eclipse
.classpath
.project
.settings/

# Archivos de configuración de IntelliJ IDEA
*.iml

# Archivos de respaldo de editores de texto
*.bak
*.tmp
*.swp

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de volcado de memoria
*.hprof

# Archivos de Maven Wrapper (si no los usas)
mvnw
mvnw.cmd

decryptExample.*