.root {
    -primary-theme-color: #29446f;
    -secondary-theme-color: #fff;
}

.sidebar-btn {
    -fx-background-color: -secondary-theme-color;
    -fx-background-radius: 5;         /* Mantener el radio de fondo original */
    -fx-background-insets: 0;         /* Sin cambios en los insets */
}

.sidebar-btn:focused{
    -fx-background-color: -secondary-theme-color;  /* Mantener el color de fondo original */
    -fx-background-insets: 0;         /* Sin cambios en los insets */
    -fx-background-radius: 5;         /* Mantener el radio de fondo original */
}

.sidebar-btn:hover{
    -fx-cursor: hand;
}