.root {
    -primary-theme-color: #29446f;
    -secondary-theme-color: #fff;
}


/* Main Layout Builder */
.sidebar-btn, .button-signout {
    -fx-background-color: -secondary-theme-color;
    -fx-background-radius: 5;         /* Mantener el radio de fondo original */
    -fx-background-insets: 0;         /* Sin cambios en los insets */
}

.sidebar-bottom {
    -fx-background-color: #29446f;
    -fx-border-width: 2px 0px 0px 0px;
    -fx-border-color: white;
}

.sidebar-btn:hover, .button-signout:hover{
    -fx-cursor: hand;
}

/* Password Generator Builder */
.password-message-box {
    -fx-background-color: #e0e0e0;
    -fx-background-radius: 5;
    -fx-padding: 5;
}
